<div class="header">通知</div>
<div class="notis">

  <a href="/users/{{loginUser.id}}/tweets" class="noti">
    <div class="noti-title">
      <img class="thumbnail" src="{{loginUser.avatar}}" alt="{{loginUser.name}} avatar">

      <div class="noti-msg">
        {{loginUser.name}}有新的推文通知
      </div>
    </div>

    <div class="content">
      {{loginUser.introduction}}
    </div>
  </a>

  <a href="/users/{{loginUser.id}}/tweets" class="noti">
    <div class="noti-title">
      <img class="thumbnail" src="{{loginUser.avatar}}" alt="{{loginUser.name}} avatar">

      <div class="noti-msg">
        {{loginUser.name}}開始追蹤你
      </div>
    </div>
  </a>

  <a href="/users/{{loginUser.id}}/tweets" class="noti">
    <div class="noti-title">
      <img class="thumbnail" src="{{loginUser.avatar}}" alt="{{loginUser.name}} avatar">

      <div class="noti-msg">
        {{loginUser.name}}有新的推文通知
      </div>
    </div>

    <div class="content">
      {{loginUser.introduction}}
    </div>
  </a>

  <a href="/users/{{loginUser.id}}/tweets" class="noti">
    <div class="noti-title">
      <img class="thumbnail" src="{{loginUser.avatar}}" alt="{{loginUser.name}} avatar">

      <div class="noti-msg">
        {{loginUser.name}}喜歡妳的貼文
      </div>
    </div>
  </a>

</div>