<div class="header">首頁</div>
<div class="post-area">
  <a href="/users/{{loginUser.id}}/tweets">
    <img class="thumbnail" src="{{loginUser.avatar}}" alt="{{loginUser.name}} avatar">
  </a>
  <form action="/tweets" method="post" id="tweetsPostForm" novalidate>
    <input type="hidden" name="userId" value="{{loginUser.id}}">
    <textarea name="description" maxlength="140" cols="48" rows="2" placeholder="有什麼新鮮事？" id="tweetsPostFormTextarea"
      required></textarea>
    <div class="foot">
      <span class="d-none">內容不可空白</span><button type="submit" class="btn-fill">推文</button>
    </div>
  </form>
</div>
<hr>
<div class="tweets">

  {{!-- <div class="tweet">
    <a href="/users/this.User.id/tweets">
      <img class="thumbnail" src="this.User.avatar" alt="this.User.name avatar">
    </a>
    <div class="post-content">
      <a class="post-user" href="/users/this.User.id/tweets">
        <span class="name ellipsis">this.User.name</span>
        <span class="at-name ellipsis">@this.User.account</span>
        <span class="timer ellipsis">this.createdAt</span>
      </a>
      <a href="/tweets/this.id" class="content">
        description
      </a>
      <div class="action">
        <button type="button" class="commenting" data-user-id="loginUser.id" data-tweet-id="this.id">
          <i class="comment commenting"></i>
          replyCount
        </button>


        <button type="submit" class="liking">
          <i class="like active" data-tweet-id="{{this.id}}"></i>
          <span class="likeCounter">{{this.likeCount}}</span>
        </button>

        <button type="submit" class="liking">
          <i class="like" data-tweet-id="{{this.id}}"></i>
          <span class="likeCounter">{{this.likeCount}}</span>
        </button>

      </div>
    </div>
  </div> --}}

  <script defer src="/javascripts/tweets.js"></script>
</div>